{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
<div class="row">
    <div class="col-md-12">
        <h2>Bienvenue sur le panel Admin</h2>
        <p class="text-muted">Gérez les utilisateurs de votre application Ameli.</p>
    </div>
</div>
{% endblock %}